runtime-New_configuration/TomCuaCaOnline/resources/xml/xsd/view.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://www.tvd.com/tools"  
		xmlns="http://www.tvd.com/tools" 
		xmlns:xs="http://www.w3.org/2001/XMLSchema" 
		elementFormDefault="qualified">
	<xs:element name="view">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="position-name" maxOccurs="1" minOccurs="1" />
				<xs:element ref="position" maxOccurs="1" minOccurs="1" />
				<xs:element ref="define-path" maxOccurs="1" minOccurs="1" />
				<xs:element ref="parameters-path" maxOccurs="1" minOccurs="1" />
				<xs:element ref="images-inputpath" maxOccurs="1" minOccurs="1" />
				<xs:element ref="images-path" maxOccurs="1" minOccurs="1" />
				<xs:element ref="xibcontainer-path" maxOccurs="1" minOccurs="1" />
				<xs:element ref="screencontainer-path" maxOccurs="1" minOccurs="1" />
				<xs:element ref="androidcontainer-path" maxOccurs="1" minOccurs="1" />
				<xs:element ref="class-path" maxOccurs="1" minOccurs="1" />
				<xs:element ref="parameter" maxOccurs="unbounded" minOccurs="0" />
				<xs:element ref="image" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="menuitems" maxOccurs="unbounded" minOccurs="0" />
				<xs:element ref="menus" maxOccurs="unbounded" minOccurs="0" />
				<xs:element ref="labels"  maxOccurs="unbounded" minOccurs="0" />
				<xs:element ref="sprites" maxOccurs="unbounded" minOccurs="0" />
				<xs:element ref="tables" maxOccurs="unbounded" minOccurs="0" />
			</xs:sequence>
			<xs:attribute name="class-name" type="xs:string" use="required" />
			<xs:attribute name="comment" type="xs:string" use="optional" />
			<xs:attribute name="prefix" type="xs:string" use="required" />
			<xs:attribute name="super" type="xs:string" use="required" />
			<xs:attribute name="type" type="xs:string" use="required" />
		</xs:complexType>
	</xs:element>
	<xs:element name="position-name">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="unlocated" type="xs:boolean" use="optional" />
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="position">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string" />
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="define-path">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string" />
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="parameters-path">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string" />
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="images-inputpath">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string" />
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="images-path">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string" />
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="xibcontainer-path">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="used" type="xs:boolean" use="optional" />
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
		<xs:element name="screencontainer-path">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="used" type="xs:boolean" use="optional" />
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="androidcontainer-path">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="used" type="xs:boolean" use="optional" />
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="class-path">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string" />
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="parameter">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="type" type="xs:string" use="required" />
					<xs:attribute name="kind" use="optional">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="normal" />
								<xs:enumeration value="ref" />
								<xs:enumeration value="pointer" />
								<xs:enumeration value="const-normal" />
								<xs:enumeration value="const-ref" />
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="image">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="background" 
						type="xs:boolean" use="optional" />
					<xs:attribute name="id" type="xs:string" use="optional" />
					<xs:attribute name="real-path" type="xs:string" use="optional" />
					<xs:attribute name="width" type="xs:float" use="optional" />
					<xs:attribute name="height" type="xs:float" use="optional" />
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="sprites">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="labels"  maxOccurs="unbounded" minOccurs="0" />
				<xs:element ref="sprite" maxOccurs="unbounded" minOccurs="1" />
			</xs:sequence>
			<xs:attribute name="array" type="xs:boolean" use="optional" />
			<xs:attribute name="comment" type="xs:string" use="optional" />
		</xs:complexType>
	</xs:element>
	<xs:element name="menuitems">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="menuitem" maxOccurs="unbounded" minOccurs="1" />
			</xs:sequence>
			<xs:attribute name="array" type="xs:boolean" use="optional" />
			<xs:attribute name="comment" type="xs:string" use="optional" />
		</xs:complexType>
	</xs:element>
	<xs:element name="menus">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="menu" maxOccurs="unbounded" minOccurs="1" />
			</xs:sequence>
			<xs:attribute name="array" type="xs:boolean" use="optional" />
			<xs:attribute name="comment" type="xs:string" use="optional" />
		</xs:complexType>
	</xs:element>
	<xs:element name="tables">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="table" maxOccurs="unbounded" minOccurs="1" />
			</xs:sequence>
			<xs:attribute name="array" type="xs:boolean" use="optional" />
			<xs:attribute name="comment" type="xs:string" use="optional" />
		</xs:complexType>
	</xs:element>
	<xs:element name="labels">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="label" maxOccurs="unbounded" minOccurs="1" />
			</xs:sequence>
			<xs:attribute name="array" type="xs:boolean" use="optional" />
			<xs:attribute name="comment" type="xs:string" use="optional" />
		</xs:complexType>
	</xs:element>
	<xs:element name="sprite">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="anchorpoint" maxOccurs="1" minOccurs="0" />
				<xs:element ref="position" maxOccurs="1" minOccurs="0" />
				<xs:element ref="position-name" maxOccurs="1" minOccurs="1" />
				<xs:element name="z-index" type="xs:integer" maxOccurs="1" minOccurs="0" />
				<xs:element ref="image" maxOccurs="1" minOccurs="0" />
				<xs:element ref="menuitems" maxOccurs="unbounded" minOccurs="0" />
				<xs:element ref="menus" maxOccurs="unbounded" minOccurs="0" />
				<xs:element ref="labels" maxOccurs="unbounded" minOccurs="0" />
				<xs:element ref="sprites" maxOccurs="unbounded" minOccurs="0" />
				<xs:element ref="tables" maxOccurs="unbounded" minOccurs="0" />
			</xs:sequence>
			<xs:attribute name="background" type="xs:boolean" use="optional" />
			<xs:attribute name="comment" type="xs:string" use="optional" />
			<xs:attribute name="visible" type="xs:boolean" use="optional" />
		</xs:complexType>
	</xs:element>
	<xs:element name="menuitem">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="position-name" maxOccurs="1" minOccurs="1" />
				<xs:element name="anchorpoint" type="xs:string" maxOccurs="1" minOccurs="0" />
				<xs:element ref="position" maxOccurs="1" minOccurs="0" />
				<xs:element name="z-index" type="xs:integer" maxOccurs="1" minOccurs="0" />
				<xs:element name="sprites" maxOccurs="1" minOccurs="1">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="sprite" maxOccurs="2" minOccurs="2" />
						</xs:sequence>
						<xs:attribute name="array" type="xs:boolean" use="optional" />
						<xs:attribute name="comment" type="xs:string" use="optional" />
						<xs:attribute name="visible" type="xs:boolean" use="optional" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="comment" type="xs:string" use="optional" />
			<xs:attribute name="visible" type="xs:boolean" use="optional" />
		</xs:complexType>
	</xs:element>
	<xs:element name="menu">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="position-name" maxOccurs="1" minOccurs="1" />
				<xs:element name="anchorpoint" type="xs:string" maxOccurs="1" minOccurs="0" />
				<xs:element ref="position" maxOccurs="1" minOccurs="0" />
				<xs:element name="z-index" type="xs:integer" maxOccurs="1" minOccurs="0" />
				<xs:element ref="menuitems" maxOccurs="unbounded" minOccurs="1" />
			</xs:sequence>
			<xs:attribute name="comment" type="xs:string" use="optional" />
			<xs:attribute name="visible" type="xs:boolean" use="optional" />
		</xs:complexType>
	</xs:element>
	<xs:element name="table">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="size-name" type="xs:string" maxOccurs="1" minOccurs="0" />
				<xs:element ref="position-name" maxOccurs="1" minOccurs="1" />
				<xs:element name="anchorpoint" type="xs:string" maxOccurs="1" minOccurs="0" />
				<xs:element ref="position" maxOccurs="1" minOccurs="0" />
				<xs:element name="z-index" type="xs:integer" maxOccurs="1" minOccurs="0" />
				<xs:element ref="size" maxOccurs="1" minOccurs="1" />
				<xs:element ref="cell-position" maxOccurs="1" minOccurs="1" />
				<xs:element ref="cell-size" maxOccurs="1" minOccurs="1" />
				<xs:element ref="cell" maxOccurs="1" minOccurs="1" />
			</xs:sequence>
			<xs:attribute name="columns" type="xs:integer" use="required" />
			<xs:attribute name="comment" type="xs:string" use="optional" />
			<xs:attribute name="rows" type="xs:integer" use="required" />
			<xs:attribute name="size" type="xs:string" use="required" />
			<xs:attribute name="visible" type="xs:boolean" use="optional" />
		</xs:complexType>
	</xs:element>
	<xs:element name="label">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="text" type="xs:string" maxOccurs="1" minOccurs="1" />
				<xs:element name="font" type="xs:string" maxOccurs="1" minOccurs="1" />
				<xs:element ref="font-size" maxOccurs="1" minOccurs="1" />
				<xs:element ref="position-name" maxOccurs="1" minOccurs="1" />
				<xs:element name="anchorpoint" type="xs:string" maxOccurs="1" minOccurs="0" />
				<xs:element ref="position" maxOccurs="1" minOccurs="1" />
				<xs:element name="z-index" type="xs:integer" maxOccurs="1" minOccurs="0" />
			</xs:sequence>
			<xs:attribute name="comment" type="xs:string" use="optional" />
			<xs:attribute name="visible" type="xs:boolean" use="optional" />
		</xs:complexType>
	</xs:element>
	<xs:element name="resources">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="sprites" maxOccurs="unbounded" minOccurs="0" />
				<xs:element ref="menuitems" maxOccurs="unbounded" minOccurs="0" />
				<xs:element ref="menus" maxOccurs="unbounded" minOccurs="0" />
				<xs:element ref="tables" maxOccurs="unbounded" minOccurs="0" />
				<xs:element ref="labels" maxOccurs="unbounded" minOccurs="0" />
			</xs:sequence>
			<xs:attribute name="comment" type="xs:string" use="optional" />
			<xs:attribute name="name" type="xs:string" use="optional" />
		</xs:complexType>
	</xs:element>
	<xs:element name="anchorpoint">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:pattern value="default|([0-1],[0-1])|([0-1], [0-1])|(0.[0-999],0.[0-999])|(0.[0-999], 0.[0-999])|([0-1],0.[0-999])|([0-1], 0.[0-999])|(0.[0-999],[0-1])|(0.[0-999], [0-1])" />
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="font-size">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:float">
					<xs:attribute name="s-value" type="xs:string" use="optional" />
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="cell">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="menuitems" maxOccurs="unbounded" minOccurs="0" />
				<xs:element ref="labels" maxOccurs="unbounded" minOccurs="0" />
				<xs:element ref="menus" maxOccurs="unbounded" minOccurs="0" />
				<xs:element ref="sprites" maxOccurs="unbounded" minOccurs="0" />
				<xs:element ref="tables" maxOccurs="unbounded" minOccurs="0" />
			</xs:sequence>
			<xs:attribute name="class-name" type="xs:string" use="required" />
			<xs:attribute name="comment" type="xs:string" use="optional" />
			<xs:attribute name="prefix" type="xs:string" use="optional" />
			<xs:attribute name="super" type="xs:string" use="optional" />
			<xs:attribute name="visible" type="xs:boolean" use="optional" />
		</xs:complexType>
	</xs:element>
	<xs:element name="cell-position">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string" />
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="size">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string" />
			</xs:simpleContent> 
		</xs:complexType>
	</xs:element>
	<xs:element name="cell-size">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string" />
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="uppertype">
		<xs:restriction base="xs:string">
    		<xs:pattern value="[A-Z]*"/>
 		</xs:restriction>
	</xs:simpleType>
</xs:schema>